<div class="container">
  <div class="row">
    <div class="col-xs-12 padding_0">
      {% comment %}
      Regular page content goes here.
      {% endcomment %}
      <div class="rte">
        {{ page.content }}
        {% section 'faq' %}
      </div>
    </div>
  </div>
</div>
